mixin toggle(id, label)
  .toggleButtonBox.spaceBetweenContener
    .toggleButtonBox__field
      input(type="checkbox", id=id, value=id).toggleButton
      .toggleButton__checkmark
    label(for=id).toggleButtonBox__label !{label}