@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.priceHotelRoom {
  @include baseText;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
  margin-right: 45px;
  display: flex;
  align-items: center;
  &::after {
    content: "в сутки";
    font-weight: normal;
    font-size: 85%;
    position: absolute;
    right: -105%;
    top: 50%;
    margin-top: -7px;
  }
}
.price {
  &::after {
    content: '\20BD';
  }
}
