@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.radioButtons {
  @include baseText;
  color: $color1Opacity50;
}
.radioButtonBox {
  align-items: center;
  &:not(:last-child) {
    margin-right: 20px;
  }
  * {
    cursor: pointer;
  }
}
.radioButtonBox__field {
  position: relative;
  display: flex;
  align-items: center;
  .radioButton:checked ~ .radioButton__checkmark {
    border-color: $color2;
    .radioButton__checkmarkInnerPoint {
      display: inline-block;
    }
  }
}
.radioButton {
  outline: none;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.radioButton__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  z-index: -1;
  border: 1px solid $color1Opacity25;
  border-radius: 50%;
}
.radioButton__checkmarkInnerPoint {
  display: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  @include linearGradient(background, $color2, $color2Gradiend);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioButtonBox__label{
  padding-left: 10px;
}
