mixin radioButtons(name, items)
  .radioButtons.startContener()&attributes(attributes)
    each item in items
      -var id = name+"__"+item.id
      .radioButtonBox.spaceBetweenContener
        .radioButtonBox__field
          input(type="radio", name=name, id=id).radioButton
          .radioButton__checkmark
            div.radioButton__checkmarkInnerPoint
        label(for=id).radioButtonBox__label !{item.label}
