@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.iconTextBox {
  max-width: $width_size_l;
  display: flex;
  justify-content: start;
  padding: 20px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $color1Opacity05;
  }
}
.iconTextBox__icon {
  min-width: 48px;
  min-height: 48px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .iconTextBox__svg{
    width: 40px;
    height: 40px;
    path {
     fill: url(#color2LinearGradient);
   }
  }
}

.iconTextBox__label {
  @include baseText;
  font-weight: bold;
}
.iconTextBox__explanation {
  font-weight: normal;
}
