$color1: #1F2041;
$color1Opacity75: rgba(31, 32, 65, 0.75);
$color1Opacity50: rgba(31, 32, 65, 0.5);
$color1Opacity25: rgba(31, 32, 65, 0.25);
$color1Opacity05: rgba(31, 32, 65, 0.05);
$color2: #BC9CFF;
$color2Gradiend: #8BA4F9;
$color3: #6FCF97;
$color3Gradiend: #66D2EA;
$colorBcg: #FFFFFF;

@mixin linearGradient($property, $color1, $color2) {
  #{$property}: linear-gradient(180deg, $color1 0%, $color2 100%);  
}

@mixin linearGradientForSVG($color1, $color2, $offset1, $offset2) {
    stop:first-child {
      offset: $offset1;
      stop-color: $color1;
    }
    stop:last-child {
      offset: $offset2;
      stop-color: $color2;
  }
}
linearGradient#color2LinearGradient {
  @include linearGradientForSVG($color2, $color2Gradiend, 0%, 100%);
}
linearGradient#color3LinearGradient {
  @include linearGradientForSVG($color3, $color3Gradiend, 0%, 100%);
}
