@import '../baseVariablesAndMixins/baseVariablesAndMixins';
.selectStartEndDates {
  max-width: $width_size_l;
  .dropdown.block_size_s{
    width: $width_size_s;
    .dropdown__dropdownButton {
      width: $width_size_s;
      input {
        width: $width_size_s;
      }
    }
    .dropdown__dropdownContener {
      width: $width_size_l;
    }
    &.selectStartEndDates__startDate {
      .dropdown__dropdownContener {
        &.show {
          left: 0;
        }
      }
    }
    &.selectStartEndDates__endDate {
      .dropdown__dropdownContener {
        &.show {
          right: 0;
        }
      }
    }
  }
}
