mixin selectStartEndDates()
  .selectStartEndDates.spaceBetweenContener()&attributes(attributes)
    +dateDropdown().block_size_s.selectStartEndDates__startDate
    +dateDropdown().block_size_s.selectStartEndDates__endDate
