mixin numberPicker(min, max, val)
  .numberPicker()&attributes(attributes)
    button.numberPicker__minusBtn -
    input(type="number", max=max, min=min, value=val).numberPicker__number.label
    button.numberPicker__plusBtn +
