mixin numberPicker(min, max, val)
  .numberPicker()&attributes(attributes)
    .numberPicker__minusBtn.button -
    input(type="number", max=max, min=min, value=val).numberPicker__number.label
    .numberPicker__plusBtn.button +
