@import '../сolorVariables/сolorVariables';
@import '../fontMixins/fontMixins.scss';

.textField  {
  display: inline-block;
  position: relative;
  @include field;
  &.textField_type_subscription {
    .textField__field {
      width: 90%;
    }
    .textField__arrowForward {
      opacity: 1;
    }
  }
}
.textField__field {
  outline: none;
  border: none;
  width: 100%;
  @include baseText;
  line-height: inherit;
  color: $color1Opacity75;
  &::placeholder {
    color: $color1Opacity25;
  }
}
.textField__arrowForward {
  opacity: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  path {
    fill: url(#color2LinearGradient);
  }
}
