@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.textField  {
  display: inline-block;
  position: relative;
  width: $width;
  &.textField_type_subscription {
    .textField__field {
      padding-right: 45px;
    }
    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 12px; right: 15px;
      -webkit-mask: url("../../font/arrow_forward.svg") no-repeat center;
      -moz-mask: url("../../font/arrow_forward.svg") no-repeat center;
      mask: url("../../font/arrow_forward.svg") no-repeat center;
      @include linearGradient(background, $color2, $color2Gradiend);
    }
  }
}
.textField__field {
  @include field;
  width: 100%;
}
