doctype html
html(lang="en")
  head
  body
    include ../../common.blocks/logo/logo.pug
    include ../../common.blocks/label/label.pug
    include ../../common.blocks/arrowForward/arrowForward.pug
    include ../../common.blocks/textField/textField.pug
    include ../../common.blocks/numberPickerList/numberPickerList.pug
    include ../../common.blocks/dropdown/dropdown.pug
    include ../../common.blocks/button/button.pug
    include ../../common.blocks/likeButton/likeButton.pug
    include ../../common.blocks/radioButton/radioButton.pug
    include ../../common.blocks/checkboxButton/checkboxButton.pug
    include ../../common.blocks/bulletList/bulletList.pug
    include ../../common.blocks/toggle/toggle.pug
    include ../../common.blocks/rateButton/rateButton.pug
    include ../../common.blocks/rangeSlider/rangeSlider.pug
    include ../../common.blocks/pagination/pagination.pug
    include ../../common.blocks/numberPicker/numberPicker.pug
    include ../../common.blocks/guestsField/guestsField.pug
    include ../../common.blocks/equipmentField/equipmentField.pug



    .colorAndType
      .PresentationBlock__color
        -
          var colorItem = [
              {color: 'color1', colorName: 'Dark Shade 100%', colorCode: '#1F2041' },
              {color: 'color1Opacity75', colorName: 'Dark Shade 75%', colorCode: '#1F2041' },
              {color: 'color1Opacity50', colorName: 'Dark Shade 50%', colorCode: '#1F2041' },
              {color: 'color1Opacity25', colorName: 'Dark Shade 25%', colorCode: '#1F2041' },
              {color: 'color1Opacity05', colorName: 'Dark Shade 5%', colorCode: '#1F2041' },
              {color: 'color2', colorName: 'Purple', colorCode: '#BC9CFF' },
              {color: 'color3', colorName: 'Green', colorCode: '#6FCF97' }
            ];
        each item in colorItem
          .colorBox
            .colorBox__colorDemonstration(class="colorBox__colorDemonstration_color_" + item.color)
            .colorBox__Discription
              h2 !{item.colorName}
              h2 !{item.colorCode}

      .PresentationBlock__text
        h1 This one is the sub-section or widget title
        h2 Next one is the item title inside widgets
        h3 This is a label or CTA text
        p This is the body text which is used for most of the design, like paragraphs, lists, etc.
    .formElements
      .PresentationBlock__formField
        .colomnsContener
          +label("Email", "text Field").label_for_field
          +textField("Email")
        .colomnsContener
          +label("Email", "subscription text field").label_for_field
          +textField("Email1").textField_type_subscription.field_size_m
        .colomnsContener
          +label("guests", "Гости").label_for_field
          +guestsField("guests")
        .colomnsContener
          +label("equipment", "Удобства номера").label_for_field
          +equipmentField("equipment").field_size_m
        +dropdown("1", "expandable checkbox list").dropdown_theme_list
          -
              var additionalServicesItems = [
                {value:'canSmoke', label:'Завтрак'},
                {value:'canPet', label:'Письменный стол'},
                {value:'canGuest', label:'Стул для кормления'}
              ];
          +checkboxButtons("","additionalServices", additionalServicesItems)
      .PresentationBlock__button
        +button("click me", "theme_textOnly", "color_color2")
        +button("click me", "theme_textOnly", "color_color1Opacity50")
        br
        +button("click me", "theme_withBorder")
        +button("click me", "theme_withBorder")(disabled)
        br
        +button("click me", "theme_fillBcg")
        +button("click me", "theme_fillBcg")(disabled)
        br
        +likeButton(false)
        +likeButton(true)
        br
        +button("перейти к оплате", "theme_fillBcg", "size_l")
      .PrePresentationBlock__radioButton
        -
          var sexItems = [
            {id:'boy', label:'Мужчина'},
            {id:'girl', label:'Женщина'}
          ];
        +radioButtons("sex", sexItems)
      .PrePresentationBlock__checkboxButton
        -
          var accommodationsItems = [
            {value:'canSmoke', label:'Можно курить'},
            {value:'canPet', label:'Можно с питомцами'},
            {value:'canGuest', label:'Можно пригласить гостей (до 10 человек)'}
          ];
        +checkboxButtons("","accommodations", accommodationsItems)
        -
          var conditionsForDisabledItems = [
            {
              value:'canGuest',
              label:'Широкий коридор',
              explanation: 'Ширина коридоров в номере не менее 91 см.'
            },
            {
              value:'canPet',
              label:'Помощник для инвалидов',
              explanation: 'На 1 этаже вас встретит специалист и проводит до номера.'
            }
          ];
        +checkboxButtons("rich","conditionsForDisabled", conditionsForDisabledItems)
      .PrePresentationBlock__bulletList
        -
          var bulletListItems = [
            'Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00',
          ];
        +bulletList("bulletList", bulletListItems)
      .PrePresentationBlock__toggle
        +toggle("specialOffers", "Получать спецпредложения")
        +rateButton("rateButton")
        +rateBox("rateBox", 2)
        +logo("colorVersion", "")
        +rangeSlider("Range Slider")
      +pagination()
    .cards
    .headers
    .footers
