doctype html
html(lang="ru")
  head
  body
    include ../../common.blocks/baseVariablesAndMixins/baseVariablesAndMixins.pug
    include ../../common.blocks/logo/logo.pug
    include ../../common.blocks/textField/textField.pug
    include ../../common.blocks/numberPickerList/numberPickerList.pug
    include ../../common.blocks/dropdown/dropdown.pug
    include ../../common.blocks/likeButton/likeButton.pug
    include ../../common.blocks/radioButton/radioButton.pug
    include ../../common.blocks/checkboxButton/checkboxButton.pug
    include ../../common.blocks/bulletList/bulletList.pug
    include ../../common.blocks/toggle/toggle.pug
    include ../../common.blocks/rateButton/rateButton.pug
    include ../../common.blocks/rangeSlider/rangeSlider.pug
    include ../../common.blocks/pagination/pagination.pug
    include ../../common.blocks/numberPicker/numberPicker.pug
    include ../../common.blocks/guestsField/guestsField.pug
    include ../../common.blocks/equipmentField/equipmentField.pug
    include ../../common.blocks/calendarCard/calendarCard.pug
    include ../../common.blocks/dateDropdown/dateDropdown.pug
    include ../../common.blocks/selectStartEndDates/selectStartEndDates.pug
    include ../../common.blocks/iconTextList/iconTextList.pug


    .colorAndType
      .PresentationBlock__color
        -
          var colorItem = [
              {color: 'color1', colorName: 'Dark Shade 100%', colorCode: '#1F2041' },
              {color: 'color1Opacity75', colorName: 'Dark Shade 75%', colorCode: '#1F2041' },
              {color: 'color1Opacity50', colorName: 'Dark Shade 50%', colorCode: '#1F2041' },
              {color: 'color1Opacity25', colorName: 'Dark Shade 25%', colorCode: '#1F2041' },
              {color: 'color1Opacity05', colorName: 'Dark Shade 5%', colorCode: '#1F2041' },
              {color: 'color2', colorName: 'Purple', colorCode: '#BC9CFF' },
              {color: 'color3', colorName: 'Green', colorCode: '#6FCF97' }
            ];
        each item in colorItem
          .colorBox
            .colorBox__colorDemonstration(class="colorBox__colorDemonstration_color_" + item.color)
            .colorBox__Discription
              h2 !{item.colorName}
              h2 !{item.colorCode}

      .PresentationBlock__text
        h1 This one is the sub-section or widget title
        h2 Next one is the item title inside widgets
        h3 This is a label or CTA text
        p This is the body text which is used for most of the design, like paragraphs, lists, etc.
    .formElements
      .PresentationBlock__formField
        .colomnsContener
          label.label(for="dateMask") masked text field
          label.label("Email", "text Field").label_for_field
          +textField("dateDropdown")#dateMask
        .colomnsContener
          label.label(for="Email").label_for_field text Field
          +textField("dateRangeField")
        .colomnsContener
          label.label(for="Email").label_for_field subscription text field
          +textField("Email1").textField_type_subscription.block_size_m
        .colomnsContener
          label.label(for="guests").label_for_field Гости
          +guestsField("guests")
        .colomnsContener
          label.label(for="equipment").label_for_field Удобства номера
          +equipmentField("equipment").block_size_m
        +dropdown().dropdown_theme_list.block_size_m
          +addBlock('button')
            p expandable checkbox list
          +addBlock('contener')
            -
              var additionalServicesItems = [
                {value:'canSmoke', label:'Завтрак'},
                {value:'canPet', label:'Письменный стол'},
                {value:'canGuest', label:'Стул для кормления'}
              ];
            +checkboxButtons("","additionalServices", additionalServicesItems)
        +textField("calendarCardField")
        +calendarCard()
        +dateDropdown().dateDropdown_theme_dateRange
        +dateDropdown()#dateDropdown
        +selectStartEndDates()#selectStartEndDates
      .PresentationBlock__button
        button.button.button_theme_textOnly.button_color_color2 click me
        button.button.button_theme_textOnly.button_color_color1Opacity50 click me
        br
        button.button.button_theme_withBorder  click me
        button.button.button_theme_withBorder(disabled) click me
        br
        button.button.button_theme_fillBcg click me
        button.button.button_theme_fillBcg(disabled) click me
        br
        +likeButton(false)
        +likeButton(true)
        br
        button.button.button_theme_fillBcg.block_size_l перейти к оплате
      .PrePresentationBlock__radioButton
        -
          var sexItems = [
            {id:'boy', label:'Мужчина'},
            {id:'girl', label:'Женщина'}
          ];
        +radioButtons("sex", sexItems)
      .PrePresentationBlock__checkboxButton
        -
          var accommodationsItems = [
            {value:'canSmoke', label:'Можно курить'},
            {value:'canPet', label:'Можно с питомцами'},
            {value:'canGuest', label:'Можно пригласить гостей (до 10 человек)'}
          ];
        +checkboxButtons("","accommodations", accommodationsItems)
        -
          var conditionsForDisabledItems = [
            {
              value:'canGuest',
              label:'Широкий коридор',
              explanation: 'Ширина коридоров в номере не менее 91 см.'
            },
            {
              value:'canPet',
              label:'Помощник для инвалидов',
              explanation: 'На 1 этаже вас встретит специалист и проводит до номера.'
            }
          ];
        +checkboxButtons("rich","conditionsForDisabled", conditionsForDisabledItems)
      .PrePresentationBlock__bulletList
        -
          var bulletListItems = [
            'Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00',
          ];
        +bulletList("bulletList", bulletListItems)
        -
          var roomDetailsItems = [
            {
              iconName: 'insert_emoticon',
              label:'Комфорт',
              explanation: 'Шумопоглощающие стены',
            },
            {
              iconName: 'location_city',
              label:'Удобство',
              explanation: 'Окно в каждой из спален',
            }
          ];
        +iconTextList(roomDetailsItems)
            +addBlock("insert_emoticon")
              path(d="M26.1875 29.0938C24.375 30.3438 22.3125 30.9688 20 30.9688C17.6875 30.9688 15.5938 30.3438 13.7188 29.0938C11.9062 27.7812 10.5938 26.0938 9.78125 24.0312H30.2188C29.4062 26.0938 28.0625 27.7812 26.1875 29.0938ZM15.0312 17.1875C14.4688 17.75 13.7812 18.0312 12.9688 18.0312C12.1562 18.0312 11.4375 17.75 10.8125 17.1875C10.25 16.5625 9.96875 15.8438 9.96875 15.0312C9.96875 14.2188 10.25 13.5312 10.8125 12.9688C11.4375 12.3438 12.1562 12.0312 12.9688 12.0312C13.7812 12.0312 14.4688 12.3438 15.0312 12.9688C15.6562 13.5312 15.9688 14.2188 15.9688 15.0312C15.9688 15.8438 15.6562 16.5625 15.0312 17.1875ZM29.0938 17.1875C28.5312 17.75 27.8438 18.0312 27.0312 18.0312C26.2188 18.0312 25.5 17.75 24.875 17.1875C24.3125 16.5625 24.0312 15.8438 24.0312 15.0312C24.0312 14.2188 24.3125 13.5312 24.875 12.9688C25.5 12.3438 26.2188 12.0312 27.0312 12.0312C27.8438 12.0312 28.5312 12.3438 29.0938 12.9688C29.7188 13.5312 30.0312 14.2188 30.0312 15.0312C30.0312 15.8438 29.7188 16.5625 29.0938 17.1875ZM8.65625 31.3438C11.8438 34.4688 15.625 36.0312 20 36.0312C24.375 36.0312 28.125 34.4688 31.25 31.3438C34.4375 28.1562 36.0312 24.375 36.0312 20C36.0312 15.625 34.4375 11.875 31.25 8.75C28.125 5.5625 24.375 3.96875 20 3.96875C15.625 3.96875 11.8438 5.5625 8.65625 8.75C5.53125 11.875 3.96875 15.625 3.96875 20C3.96875 24.375 5.53125 28.1562 8.65625 31.3438ZM5.84375 5.9375C9.78125 2 14.5 0.03125 20 0.03125C25.5 0.03125 30.1875 2 34.0625 5.9375C38 9.8125 39.9688 14.5 39.9688 20C39.9688 25.5 38 30.2188 34.0625 34.1562C30.1875 38.0312 25.5 39.9688 20 39.9688C14.5 39.9688 9.78125 38.0312 5.84375 34.1562C1.96875 30.2188 0.03125 25.5 0.03125 20C0.03125 14.5 1.96875 9.8125 5.84375 5.9375Z")
            +addBlock("location_city")
              path(d="M31.9688 26V21.9688H28.0312V26H31.9688ZM31.9688 33.9688V30.0312H28.0312V33.9688H31.9688ZM19.9688 9.96875V6.03125H16.0312V9.96875H19.9688ZM19.9688 18.0312V14H16.0312V18.0312H19.9688ZM19.9688 26V21.9688H16.0312V26H19.9688ZM19.9688 33.9688V30.0312H16.0312V33.9688H19.9688ZM7.96875 18.0312V14H4.03125V18.0312H7.96875ZM7.96875 26V21.9688H4.03125V26H7.96875ZM7.96875 33.9688V30.0312H4.03125V33.9688H7.96875ZM24 18.0312H36V38H0V9.96875H12V6.03125L18 0.03125L24 6.03125V18.0312Z")
      .PrePresentationBlock__toggle
        +toggle("specialOffers", "Получать спецпредложения")
        +rateButton("rateButton")
        +rateBox("rateBox", 2)
        +logo("colorVersion", "")
        +rangeSlider("Range Slider")
      +pagination()
    .cards
    .headers
    .footers
