include ../baseVariablesAndMixins/baseVariablesAndMixins.pug
mixin rateButton(name)
  .rateButton.spaceBetweenContener()&attributes(attributes)
    - for (var i = 1; i <= 5; i++)
      input.rateButton__field(id=name+i, type="radio", name=name)
      label.rateButton__label(for=name+i)
        svg.star(width="20", height="19", viewBox="0 0 20 19", fill="none", xmlns="http://www.w3.org/2000/svg")
          +linearGradientForSVG("color2")
          +linearGradientForSVG("color3")
          path.star_checked(fill="grey", d="M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z")
          path.star_notChecked(fill="grey", d="M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z")

mixin rateBox(name, rateStatus)
  .rateButton.spaceBetweenContener()&attributes(attributes)
    - for (var i = 1; i <= 5; i++)
      - var checked = false;
      - if (((i == 1) && (rateStatus == 5)) || ((i == 2) && (rateStatus == 4)) || ((i == 3) && (rateStatus == 3)) || ((i == 4) && (rateStatus == 2)) || ((i == 5) && (rateStatus == 1))) checked = true;
      .rateButton__field(class=checked?"checked":"")
      .rateButton__label
        svg.star(width="20", height="19", viewBox="0 0 20 19", fill="none", xmlns="http://www.w3.org/2000/svg")
          +linearGradientForSVG("color2")
          +linearGradientForSVG("color3")
          path.star_checked(fill="grey", d="M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z")
          path.star_notChecked(fill="grey", d="M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z")
