//- include ../../common.blocks/button/button.pug
//- .dropdown.formField__field.colomnsContener
mixin dropdownField(id, label)
  
  .formField.colomnsContener
    label(for=id).formField__label.label !{label}
    - var onClickFunction = "dropdownButton_OnClick(\"" + id + "\")"
    .dropdown
      button.dropdown__dropdownButton.formField__field.spaceBetweenContener(onclick=onClickFunction)(id="dropdown__dropdownButton" + id)
        p Сколько гостей
        div.arrow.formField__arrow
      .dropdown__dropdownContener.formField__field(id="dropdown__dropdownContener" + id)
        ul.colomnsContener
          -var labelStr = ["Взрослые", "Дети", "Младенцы"]
          - for (var i = 0; i < labelStr.length; i++)
            li.dropdown__item.spaceBetweenContener
              p.dropdown__label.label !{labelStr[i]}
              .numberPicker.dropdown__numberPicker
                  button.numberPicker__minusBtn -
                  div.numberPicker__number.label 0
                  button.numberPicker__plusBtn +
        .dropdown__btnBox.spaceBetweenContener
          +button("Очистить", "theme_textOnly", "color_color1Opacity50")
          +button("Применить", "theme_textOnly", "color_color2")
  script
    include ../../common.blocks/dropdownField/dropdownField__dropdownButton.js