//- include ../../common.blocks/button/button.pug
//- .dropdown.formField__field.colomnsContener
mixin dropdownField(id, label)
  .formField.colomnsContener
    label(for="dropdown" + id).formField__label.label !{label}
    +dropdown(id, "Сколько гостей").dropdown_theme_field
      -
          var numberPickerListItems = [
            {value:'adults', label:'Взрослые'},
            {value:'children', label:'Дети'},
            {value:'babies', label:'Младенцы'}
          ]
      +numberPickerList(id, numberPickerListItems).numberPickerList_theme_withButtonBox
  .formField.colomnsContener
    +dropdown(id + "1", "expandable checkbox list").dropdown_theme_list
      -
          var accommodationsItems = [
            {value:'canSmoke', label:'Завтрак'},
            {value:'canPet', label:'Письменный стол'},
            {value:'canGuest', label:'Стул для кормления'}
          ];
      +checkboxButtons("","accommodations", accommodationsItems)