mixin numberPickerList(id, items)
  ul.numberPickerList.colomnsContener()&attributes(attributes)
    each item in items
      - var itemId = item.value + id
      li.numberPickerList__item.spaceBetweenContener
        p.numberPickerList__label.label !{item.label}
        +numberPicker(item.value, 0, 10, 0)
    li.numberPickerList__buttonBox
      +button("Очистить", "theme_textOnly", "color_color1Opacity50")
      +button("Применить", "theme_textOnly", "color_color2")