mixin numberPickerList(id, items)
  ul.numberPickerList.columnsContener()&attributes(attributes)
    each item in items
      li.numberPickerList__item.spaceBetweenContener
        p.numberPickerList__label.label !{item.label}
        +numberPicker(0, 10, 0)
    li.numberPickerList__buttonBox
      .button.button_theme_textOnly.button_color_color2.numberPickerList__executeButton Применить
      .button.button_theme_textOnly.button_color_color1Opacity50.numberPickerList__resetButton Очистить
