@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.numberPickerList__label {
  height: 15px;
  margin-bottom: 17px;
  margin-top: 5px;
}
.numberPickerList__numberPicker {
  margin-bottom: 7px;
}
.numberPickerList__buttonBox {
  margin-top: 13px;
  display: none;
  margin-bottom: 11px;
}
.numberPickerList_theme_withButtonBox .numberPickerList__buttonBox{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
