mixin equipmentField(id)
  .equipmentField.colomnsContener
    label(for="dropdown" + id).formField__label.label Dropdown
    +dropdown(id, "").dropdown_theme_field
      -
          var numberPickerListItems = [
            {value:'bedrooms', label:'Спальни'},
            {value:'beds', label:'Кровати'},
            {value:'bathrooms', label:'Bанные комнаты'}
          ]
      +numberPickerList(id, numberPickerListItems)
