.equipmentField {
  &.dropdown_theme_field {
    .dropdown__dropdownButton {
      p {
        width: 69%;
        max-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
    }
  }
}
