mixin equipmentField(id)
    +dropdown(id, "").equipmentField.dropdown_theme_field()&attributes(attributes)
      +addBlock('button')
        p Удобства номера
      +addBlock('contener')
        -
          var equipmentField__numberPickerListItems = [
            {value:'bedrooms', label:'Спальни'},
            {value:'beds', label:'Кровати'},
            {value:'bathrooms', label:'Bанные комнаты'}
          ]
        +numberPickerList(id, equipmentField__numberPickerListItems)
