mixin header(menuItems)
  .header()&attributes(attributes)
    .header__contener.spaceBetweenContener
      +logo(true).header__logo
      nav.header__nav
        ul.menu.header__menu
          each item in menuItems
            li.menu__item
              if (item.subMenu)
                +dropdown().menuDropdown
                  +addBlock('button')
                    span= item.label
                  +addBlock('contener')
                    ul
                      each subItem in item.subMenu
                        li.menuDropdown__item
                          a(href=subItem.href)= subItem.label
              else
                a(href=item.href)= item.label
        .header__authUser.spaceBetweenContener
          .button.button_theme_withBorder Login
          .button.button_theme_fillBcg REGISTER
