@import '../сolorVariables/сolorVariables';

// linearGradient#color2LinearGradient {
//   stop:first-child {
//     offset: 0%;
//     stop-color: $color2;
//   }
//   stop:last-child {
//     offset: 100%;
//     stop-color: $color2Gradiend;
//   }
// }

// linearGradient#color3LinearGradient {
//   stop:first-child {
//     offset: 0%;
//     stop-color: $color3;
//   }
//   stop:last-child {
//     offset: 100%;
//     stop-color: $color3Gradiend;
//   }
// }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48px;
  &.logo_colorVersion {
    width: 106px;
  }
}

.logo__emblem {
  position: relative;
  width: 48px;
  height: 48px;

  path {
    fill: $color1Opacity25;
  }
}

.logo__emblem_side_left {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 33%;
  left: 23%;
}
.logo__emblem_side_right {
  display: inline-block;
  width: 12px;
  height: 8px;
  position: absolute;
  left: 52%;
  top: 19%;
}

.logo_colorVersion path {
  fill: url(#color2LinearGradient);
}
.logo_colorVersion .logo__emblem_side_right path {
  fill: url(#color3LinearGradient);
}
.logo__lettering {
  display: inline-block;
  width: 54px;
  height: 14px;
  path {
    fill: $color1;
  }
}

