@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  &.logo_colorVersion {
    width: 106px;
  }
}

.logo__emblem {
  position: relative;
  width: 40px;
  height: 40px;
  path {
    fill: $color1Opacity25;
  }
}

.logo__emblem_side_left {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 38%;
  left: 23.5%;
}
.logo__emblem_side_right {
  display: inline-block;
  width: 9.5px;
  height: 6.5px;
  position: absolute;
  right: 23.5%;
  top: 38%;
}

.logo_colorVersion path {
  fill: url(#color2LinearGradient);
}
.logo_colorVersion .logo__emblem_side_right path {
  fill: url(#color3LinearGradient);
}
.logo__lettering {
  width: 54px;
  height: 14px;
  margin-left: 12px;
  path {
    fill: $color1;
  }
}
