@import '../baseVariablesAndMixins/baseVariablesAndMixins';

.likeButton {
  $border: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  box-sizing: border-box;
  padding: 2px 9px 4px 19px;
  color: $color1Opacity25;
  border: $border solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
  min-width: 10px;
  &::before {
    margin: -$border;
    background: $color1Opacity25;
  }
  &.likeButton_like {
    color: $color2;
    &::before {
      @include linearGradient(background, $color2, $color2Gradiend);
    }
  }
}
.heartLike {
  path {
    fill: $color2;
  }
}
.heartNoLike {
  path {
    fill: $color1Opacity25;
  }
}
.likeButton__heart {
  position: absolute;
  top: 5px;
  left: 4px;
}
