@import '../сolorVariables/сolorVariables';
@import '../fontMixins/fontMixins.scss';
@import '../field/field.scss';


.dropdown {
  position: relative;
  &.dropdown_theme_field {
    .dropdown__dropdownButton {
      @include field;
      &.formField__field_version_dropdown {
        border-radius: 4px  4px 0 0;
        border-color: $color1Opacity50;
      }
      p {
        width: 90%;
        height: 80%;
        outline: none;
        border: none;
        text-align: left;
      }
    }
    .dropdown__dropdownContener {
      @include field;
      border-radius: 0 0 4px 4px;
      border-top-width: 0;
      padding: 7px 7px 2px 15px;
      border-color: $color1Opacity50;
      background: $colorBcg;
      box-shadow: 0px 10px 20px $color1Opacity05;
    }
  }
  &.dropdown_theme_list {
    $width: 266px;
    .dropdown__dropdownButton {
      width: $width;
      padding-right: 15px;
      p {
        @include h3;
        color: $color1;
        text-align: left;
      }
      &.formField__field_version_dropdown {
        .arrow {
          transform: rotate(135deg);
        }
      }
    }
    .dropdown__dropdownContener {
      padding: 17px 7px 13px 0px;
      background: $colorBcg;
      width: $width;
      &.show {
        position: relative;
        top: 0;
      }
    }

  }
  &.field_size_m{
    width: 266px;
    .dropdown__dropdownButton {
      width: 266px;
    }
    .dropdown__dropdownContener {
      width: 266px;
    }
  }
  &.field_size_s{
    width: 150px;
    .dropdown__dropdownButton {
      width: 150px;
    }
    .dropdown__dropdownContener {
      width: 150px;
    }
  }
}
.dropdown__dropdownButton {
  background: transparent;
  border: none;
  outline: none;

}
.dropdown__dropdownContener {
  background: $colorBcg;
  z-index: 1;
  display: none;
}
.show {
  display: block;
  position: absolute;
  top: 100%;
}
.arrow {
  width: 7px;
  height: 7px;
  border-bottom: 1px solid $color1Opacity75;
  border-left: 1px solid $color1Opacity75;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.dropdown__arrow {
  margin-top: 2px;
  margin-right: 3px;

}
