@import '../сolorVariables/сolorVariables';
@import '../fontMixins/fontMixins.scss';

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include baseText;
  color: $color1Opacity75;
}

h1 {
  @include h1;
  color: $color1;
}

h2 {
  @include h2;
  color: $color1;
}

h3 {
  @include h3;
  color: $color1;
}

.spaceBetweenContener {
  display: flex;
  justify-content: space-between;
}
.colomnsContener{
  display: flex;
  flex-direction: column;
  justify-content: start;
}